@font-face {
    font-family: Staatliches;
    src: url("../fonts/Staatliches-Regular.woff");
  }

  @font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.woff");
  }
  
  @font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.woff");
  }
  



  /* colore */

  $color-white: #ffffff;
  $color-black:#101010;


  /* Border Radius   */

  $btn-Radius: 37px; 