@import "../../assest/scss/variable.scss";

* {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.optionalpage-head_container {
  margin: 0 auto;
  max-width: 98%;
  width: 1920px;
  /* background-color: rgba(105, 105, 105, 0.5) !important; */
}
.content_container {
  margin: 0 auto;
  max-width: 85%;
  width: 1640px;
}

.optionalpage-head-sec {
  background-image: url("../../assest/images/BG-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  padding: 10px !important;

  .optionalpage-head-grid-sec {
    display: flex !important;
    justify-content: space-between !important;
  }

  .optionalpage-logo {
    width: 42px;
    height: 42px;
    /*   margin: 0 !important; */
  }
}

.optionalpage-menu-bar {
  font-family: Staatliches !important;
  font-size: 21.33px !important;
  line-height: 26px !important;
  color: $color-white !important;
  align-self: center !important;
}

.optionalpage-menu-bar:hover {
  color: $color-black !important;
}

.optionalpage-menu-bar:active {
  color: $color-black !important;
}

.optionalpage-signin-btn {
  font-family: Staatliches !important;
  font-size: 21.33px !important;
  line-height: 26px !important;
  background-color: $color-white !important;
  color: $color-black !important;
}

.optionalpage-signin-btn:hover {
  background-color: #438ac1 !important;
}

.optionalpage-signin-btn:active {
  background-color: #438ac1 !important;
}

.optionalpage-grid-sec {
  justify-content: center;
  padding-top: 50px;
}

.optionalpage-left-grid-sec {
  border-right: 2px solid $color-white;
  padding-right: 10px;
}
.optionalpage--head-txt {
  font-size: 67.42px;
  line-height: 67.42px;
  color: $color-white;
  font-family: Staatliches;
  text-align: left;
}

.optionalpage-head-breadcrumbs {
  padding-top: 20px;
  .optionalpage--small-txt {
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto-Regular;
    color: $color-white;
    text-align: left;
  }
}
.optionalpage-menu-items {
  color: $color-white !important;
  padding-top: 140px !important;
}
.optionalpage-left-grid-menu {
  font-size: 21.33px;
  font-family: Staatliches;
  line-height: 26px;
  text-align: left;
  /*  padding: 0 !important; */
}

.tick-mark-txt {
  display: flex;
}

.line-icon {
  width: 5px !important;
  height: 16px !important;
  margin-top: 10px;
}

.tick-mark-icon {
  width: 10.48px !important;
  height: 7.81px !important;
  padding-top: 12px;
}

.optionalpage-right-grid-sec {
  padding-left: 25px;

  .optionalpage-right-grid-head-txt {
    font-size: 37.92px;
    line-height: 47px;
    font-family: Staatliches;
    color: $color-white;
  }

  .right-grid-breadcrumbs {
    font-size: 12px;
    line-height: 18px;
    font-family: Roboto-Regular;
    color: #9d9d9d;
  }
}

.matching_profile {
  margin-top: 30px !important;

  .chk_head-txt {
    font-size: 21.33px;
    line-height: 26px;
    font-family: Staatliches;
    color: $color-white;
    padding-left: 0 !important;
  }
}
